<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="work-list">

            <!-- First Work Item -->
            <div class="work">
                <img src="images/work-1.png" alt="Work 1">
                <div class="layer">
                    <a href="https://iphoneapis.onrender.com"><i class="fas fa-external-link-alt"></i></a>
                    <h3>Amazon iPhone API</h3>
                    <p>Developed a web app using Express and web scraping to extract iPhone data from Amazon, replicating API functionality. Secured with an API key, it provided controlled access for authorized users to retrieve and analyze iPhone data.
                    </p>
                </div>
            </div>

            <!-- Second Work Item -->
            <div class="work">
                <img src="images/about-2.jpg" alt="Work 2">
                <div class="layer">
                    <a href="https://job-entry.onrender.com"><i class="fas fa-external-link-alt"></i></a>
                    <h3>Job Board Management System</h3>
                    <p>Within this project, my role involved the development of the backend infrastructure using
                        Node.js and Express.<br>
                        I employed the Handlebars template engine. The storage and management of data were handled
                        through MongoDB, guaranteeing seamless
                        accessibility and retrieval.
                    </p>
                </div>
            </div>

            <!-- Third Work Item -->
            <div class="work">
                <img src="images/calculator.jpg" alt="Calculator">
                <div class="layer">
                    <a href="https://mycalculator.up.railway.app"><i class="fas fa-external-link-alt"></i></a>
                    <h3>Calculator App</h3>
                    <p>The App helps you to do some Calculations.
                        It's made with HTML, CSS & JavaScript.
                    </p>
                </div>
            </div>

            <!-- Fourth Work Item -->
            <div class="work">
                <img src="images/WSEB7291.PNG" alt="Food Web App">
                <div class="layer">
                    <h3>Food Web App</h3>
                    <p>The App connects you to people around the world.
                        Download it from Playstore.
                    </p>
                    <a href="#"><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>
    </div>

    <a href="/">
        <p class="btn"><i class="fa-solid fa-backward"></i></p>
    </a>
</body>

</html>
